.nav {
  /* box-shadow: 0 0 1px 2px rgb(205, 205, 205); */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 18px 40px;
  margin-bottom: 20px;
}

.grey {
  color: #918e9b;
}

.hero-img {
  width: 1000px;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  padding: 8px 40px;
  margin: 40px 0;

}

.hero-title {
  margin: 40px 0 0 0 ;
  font-size: 2.5rem;
}

.hero-subtitle {
  margin: 0;
  width: 450px;
}

.material-icons {
  color: red;
}

.card {
  padding: 0 40px;
  width: 175px;
  font-size: 14px;
}

.card-image {
  width: 100%;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card p {
  margin: 0;
  padding: 1px 0;
}